<launch>
  <arg name="use_sim_time" default="false" />
  <arg name="set_use_sim_time" default="false" />
  <arg name="ekf_config" default="$(find robot_loc)/params/loc_ekf_ins_imu.yaml" />
  <arg name="ins_odom_topic" default="/localization/ins" />
  <arg name="imu_topic" default="/ins_driver/imu" />
  <arg name="localization_status_topic" default="/localization/status" />
  <arg name="loc_policy_topic" default="/localization/loc_policy_code" />
  <arg name="imu_extrinsic_roll" default="0.0" />
  <arg name="imu_extrinsic_pitch" default="0.0" />
  <arg name="imu_extrinsic_yaw" default="-1.57079632679" />
  <arg name="imu_linear_acceleration_scale" default="9.806" />
  <arg name="imu_use_orientation" default="false" />
  <arg name="imu_use_angular_velocity" default="true" />
  <arg name="imu_use_linear_acceleration" default="false" />
  <arg name="imu_primary_yaw_rate_std_deg" default="1.0" />
  <arg name="imu_weak_yaw_rate_std_deg" default="180.0" />
  <arg name="imu_degraded_yaw_rate_std_deg" default="30.0" />
  <arg name="imu_primary_linear_acceleration_std" default="20.0" />
  <arg name="imu_weak_linear_acceleration_std" default="20.0" />
  <arg name="imu_degraded_linear_acceleration_std" default="20.0" />

  <param if="$(arg set_use_sim_time)" name="/use_sim_time" value="$(arg use_sim_time)" />

  <node pkg="robot_loc"
        type="loc_ekf_ins_imu_node"
        name="loc_ekf_ins_imu"
        output="screen"
        clear_params="true">
    <rosparam command="load" file="$(arg ekf_config)" />

    <param name="ins_odom_topic" value="$(arg ins_odom_topic)" />
    <param name="imu_topic" value="$(arg imu_topic)" />
    <param name="localization_status_topic" value="$(arg localization_status_topic)" />
    <param name="loc_policy_topic" value="$(arg loc_policy_topic)" />

    <param name="frame_id" value="map" />
    <param name="child_frame_id" value="base_link" />

    <param name="imu_extrinsic_roll" value="$(arg imu_extrinsic_roll)" />
    <param name="imu_extrinsic_pitch" value="$(arg imu_extrinsic_pitch)" />
    <param name="imu_extrinsic_yaw" value="$(arg imu_extrinsic_yaw)" />
    <param name="imu_linear_acceleration_scale" value="$(arg imu_linear_acceleration_scale)" />
    <param name="imu_use_orientation" value="$(arg imu_use_orientation)" />
    <param name="imu_use_angular_velocity" value="$(arg imu_use_angular_velocity)" />
    <param name="imu_use_linear_acceleration" value="$(arg imu_use_linear_acceleration)" />
    <param name="imu_primary_yaw_rate_std_deg" value="$(arg imu_primary_yaw_rate_std_deg)" />
    <param name="imu_weak_yaw_rate_std_deg" value="$(arg imu_weak_yaw_rate_std_deg)" />
    <param name="imu_degraded_yaw_rate_std_deg" value="$(arg imu_degraded_yaw_rate_std_deg)" />
    <param name="imu_primary_linear_acceleration_std" value="$(arg imu_primary_linear_acceleration_std)" />
    <param name="imu_weak_linear_acceleration_std" value="$(arg imu_weak_linear_acceleration_std)" />
    <param name="imu_degraded_linear_acceleration_std" value="$(arg imu_degraded_linear_acceleration_std)" />

    <remap from="odometry/filtered" to="/localization/final_odom" />
  </node>
</launch>
